# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.google_kickstart.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Sebastian\OneDrive - Personal\OneDrive\coding\google_kickstart\.idea\.idea.google_kickstart\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
